*{
    margin: 0;
    padding: 0;
}
.image{
    width: 250px;
    height: 200px;
    padding: 5px;
}

.my_div{
    border: 2px solid black;
    float: right;
    /* margin: 1%; */
}

.delete
{
    margin-right:10px; 
}

.favourite
{
    margin-left:10px;
}

#my_input
{
    width:100px;;
    margin-bottom: 30px;
    justify-content: space-evenly;
    margin: 1%;
}

.load{
    width: 80%;
    height: 50px;
    margin: 20px;
    margin-left: 10%;
    border: 2px solid black;
    cursor: pointer;
}