*{
    margin: 0;
    padding: 0;
}
.image{
    width: 250px;
    height: 200px;
    padding: 5px;
    border: 1px solid red;
}

.my_div{
    border: 2px solid black;
    float: right;
    margin: 1%;
}

#my_input{
    /* border: 2px solid red; */
}

span{
    /* padding: 2px; */
    /* border: 2px solid black; */
    cursor: pointer;
}