*{
    margin: 0;
    padding: 0;
}
.image{
    width: 250px;
    height: 200px;
    /* margin: 2%; */
    padding: 5px;
}

.my_div{
    border: 2px solid black;
    float: right;
    margin: 1%;
}

#my_input{
    border: 2px solid red;
}