*{
    margin: 0;
    padding: 0;
}
.image{
    width: 250px;
    height: 200px;
    padding: 5px;
}

.my_div{
    border: 2px solid black;
    float: right;
    margin: 1%;
}

.delete
{
    margin-right:100px; 
}

.favourite
{
    margin-left:100px;
}

#my_input
{
    width:100px;;
    margin-bottom: 30px;
}